<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
    <div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:image {"width":"40px","height":"auto","sizeSlug":"full","linkDestination":"none"} -->
    <figure class="wp-block-image size-full is-resized"><img src="https://wordpress-1211636-4295791.cloudwaysapps.com/wp-content/themes/twentytwentyfour/assets/images/icon-message.webp" alt="" style="width:40px;height:auto"/></figure>
    <!-- /wp:image -->
    
    <!-- wp:separator {"className":"is-style-wide"} -->
    <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide"/>
    <!-- /wp:separator -->
    
    <!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|10"}}}} -->
    <div class="wp-block-columns" style="padding-top:var(--wp--preset--spacing--10)"><!-- wp:column {"width":"30%"} -->
    <div class="wp-block-column" style="flex-basis:30%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"medium","fontFamily":"body"} -->
    <h3 class="wp-block-heading has-body-font-family has-medium-font-size">Contact</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p><a href="mailto:info@example.com">info@example.com</a></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>+X-(XXX)-XXXX</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"57%"} -->
    <div class="wp-block-column" style="flex-basis:57%"><!-- wp:heading {"textAlign":"center","level":6,"fontSize":"x-large"} -->
    <h6 class="wp-block-heading has-text-align-center has-x-large-font-size">{Full Name}</h6>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p>660 Parrington Oval, Norman, OK 73019</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"width":"30%"} -->
    <div class="wp-block-column" style="flex-basis:30%"><!-- wp:columns {"isStackedOnMobile":false} -->
    <div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","orientation":"vertical"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":3,"fontSize":"medium","fontFamily":"body"} -->
    <h3 class="wp-block-heading has-body-font-family has-medium-font-size">Follow</h3>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph -->
    <p><a href="#">Github</a> / <a href="#">Venmo</a></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->