<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","right":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"33%"} -->
    <div class="wp-block-column" style="flex-basis:33%"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.2"}},"fontSize":"large","fontFamily":"heading"} -->
    <p class="has-heading-font-family has-large-font-size" style="line-height:1.2">Work Experience,<br>    Education,<br>        Certifications,<br>            Projects.<br></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
    <div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"left","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
    <p style="font-style:normal;font-weight:500">Security Exploit Engineer I - FAANG</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:list -->
    <ul><!-- wp:list-item -->
    <li>Experience in DDOSing Servers</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>Learned Kali Linux</li>
    <!-- /wp:list-item -->
    
    <!-- wp:list-item -->
    <li>Ran scripts</li>
    <!-- /wp:list-item --></ul>
    <!-- /wp:list --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
    <p style="font-style:normal;font-weight:500">Bachelor of Hacking</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>University of Script Kiddies 20XX-20XX<br><br></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
    <p style="font-style:normal;font-weight:500">Certified Security Vulnerability Finder</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Source: Trust Me, I got your passwords already</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group -->
    
    <!-- wp:group {"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} -->
    <p style="font-style:normal;font-weight:500">Scripts I actually wrote</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:paragraph -->
    <p>Link to my Github at the bottom<br>Feel free to Venmo me $100 so I don't post your passwords.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->